  html {
     background-color: black;
     color: white;
   }

   h1, h2, h3 {
     color: white;
     /* margin-left: 40px; */
   }

   h3 {
     background: linear-gradient(to right, rgb(78, 127, 160) 0%, rgba(125,185,232,0) 100%);
   }

   a {
     color: lightskyblue;
   }

   a:visited {
      color: lightskyblue;
   }

   .header {
       top:    0;
       width:    100%;
       position: fixed;
       color:    #fff;
       background: #333;
       /* padding-bottom: 50px; */
   }

   .content {
      top:   200px;
      width: 80%;
   }

   .pdfimage {
       width: 80%;
    }


  /** =============== Mobile-specific Style ================ */
  @media only screen and (max-width: 960px) {

     html {
        display: block;
        width:      100%;
        font-size: 1rem;
     }

      h1, h2, h3 { font-size: 12pt }

     .header {
        font-size: 12pt;
        width:     100%;
     }

     .header a {
         font-size: 10pt;
         background: #ffffff none repeat scroll 0 0;
         border: 1px solid #aa8d56;
         color: #aa8d56;
         outline: medium none;
         padding: 4px;
         margin-bottom: 10px;
         margin-left: 10px;
         text-decoration: none;
     }

     .header form {
       margin-top:    20px;
       margin-bottom: 10px;
     }

     .content {
        width: 100%;
        font-size:  12pt;
        margin-top:  125px;
        margin-left: 20px;
        /* margin: 10px 120px; */
     }

     img {
         max-width: 100%;
         height: auto;
     }

  } /* --- End of mobile style ---- */

    /** =============== Desktop-specific Style ================ */
    @media only screen and (min-width: 960px) {

       html { width: 800px; }

       .header {
          font-size: 12pt;
          width: 100%;
       }

       .content {
         font-size:  12pt;
         width: 100%;
         margin: 200px 50px;
       }


    } /* End of Desktop style */



